@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import 'variables.css';
@import 'global.css';
@import 'header.css';
@import 'hero.css';
@import 'main-section.css';
@import 'footer.css';

/* PSEUDO CLASSES */

li::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--BUTTON-COLOR);
  transition: width 0.25s ease-out;
}
li:hover::before {
  width: 100%;
  transition: width 0.25s ease-out;
}
button:hover {
  transform: scale(1.1);
}
.gg-shopping-cart:hover,
.gg-shopping-cart:active,
.gg-shopping-cart:focus {
  filter: brightness(0%);
}
.header__i:hover {
  color: var(--ICON-COLOR);
  filter: brightness(150%);
}

/* || BREAKPOINTS */

@media (min-width: 576px) {
  .hero_h1 {
    font-size: var(--FS-MEDIUM);
  }
}

@media (min-width: 768px) {
  header {
    position: fixed;
    align-items: center;
    top: 0;
  }

  h1 {
    font-size: var(--FS-VBIG);
  }
  footer {
    flex-direction: row;
    justify-content: space-between;
  }
  .header__ul {
    margin-top: var(--N-MARGIN-0-75);
    flex-direction: row;
    justify-content: space-around;
    font-size: var(--FS-SMALL);
  }
  .header__li {
    padding-bottom: 0;
  }
  .header__nav {
    margin-top: var(--MARGIN-2);
    width: 100%;
  }
  .header__h2 {
    font-size: var(--FS-BIG);
    padding-right: var(--PADDING-1);
  }
  .hero {
    margin-top: var(--MARGIN-8);
  }
  .main__h4 {
    padding-bottom: var(--PADDING-1);
  }
  .footer__contact-icons {
    padding-right: var(--PADDING-0-5);
  }
}

@media (min-width: 992px) {
  footer {
    justify-content: space-around;
  }
}

@media (min-width: 1200px) {
  .main__special-offers {
    display: flex;
    flex-direction: row;
  }
}
